VITE_USE_MOCKS=true
VITE_KEYCLOAK_URL=https://keycloak-bookrush.jteodoro.tec.br
VITE_KEYCLOAK_REALM=bookrush-platform
VITE_KEYCLOAK_CLIENT_ID=labsoft-admin-web
VITE_CATALOG_API_URL=http://localhost:8081
VITE_INGESTION_API_URL=http://localhost:8090
VITE_ANALYTICS_API_URL=http://localhost:8082
VITE_FEED_API_URL=http://localhost:8083
VITE_BASE_PATH=/
