# API pública do BookRush. Não inclua tokens neste arquivo.
EXPO_PUBLIC_API_URL=https://bookrush.jteodoro.tec.br
EXPO_PUBLIC_OIDC_AUTHORITY=https://keycloak-bookrush.jteodoro.tec.br/realms/bookrush
EXPO_PUBLIC_OIDC_CLIENT_ID=bookrush-mobile
